*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #2c2c2c;
    color: #fefefe;
}

body, input, button, textarea{
    font: 400 16px 'Roboto', sans-serif;
    font-size: 16px;
}